*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}
#landing .wrapper {
    position: relative; /* Important for the pseudo-element positioning */
    height: 50vh; /* Adjust this based on your need */
  
    /* Background image settings */
    background: url("images/aldin1.png"); /* Ensure the path is correct */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Semi-transparent Color Overlay */
  #landing .wrapper::before {
    content: ''; /* Required to make the pseudo-element appear */
    position: absolute; /* Position it over the whole wrapper */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    /* Semi-transparent gradient */
    background: linear-gradient(
      0deg, 
      rgba(210, 9, 9) 20%,  /* Adjust the opacity (0.7) to make the image visible */
      rgba(255, 255, 255, 0.1) 81%
    ); 
    z-index: 1; /* Ensure it's above the background image */
  }
  
  /* Ensuring content appears above the overlay */
  #landing .wrapp-top {
    position: relative; /* Place content above the overlay */
    z-index: 2;
    color: white; /* Adjust text color for better visibility */
    height: 50vh;
  }
  #landing .wrapp-bot{
    height: 60vh;
    width: 100%;
    background-color: rgba(210, 9, 9);
  }
  #landing .wrapp-bot .top{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #landing .wrapp-bot h1{
    text-align: center;
    color: white;
  }
  #landing .wrapp-bot h4{
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  #landing .wrapper .wrapp-bot .top .top-left{
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #landing .wrapper .wrapp-bot .top .top-right .icon{
    background-image: url('./images/email.png');
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
  }
  #landing .wrapper .wrapp-bot .top .top-left .icon{
    background-image: url('./images/phone-call.png');
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
  }
  #landing .wrapper .wrapp-bot .top .top-right{
    height: 80%;
    width: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #landing .wrapper .wrapp-bot .top .top-left .left{
    height: 70%;
    width: 80%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #landing .wrapper .wrapp-bot .top .top-right .right{
    height: 70%;
    width: 80%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #landing .wrapper .wrapp-bot .top .top-right p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  #landing .wrapper .wrapp-bot .top .top-left p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
  }

  #landing .wrapp-bot .bot{
    height: 65%;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #landing .wrapp-bot .bot .bot-medar{
    height: 64px;
    width: 62%;
    background-image: url('./images/medar.jpg');
    background-size: cover;
    background-position: center;
  }
  #landing .wrapp-bot .bot .bot-wrapp{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #landing .wrapp-bot .bot .botslika{
    height: 37px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  #landing .wrapp-bot .bot .botslika .value{
    font-size: 14px;
    padding-left: 10px;
  }
  #landing .wrapper .wrapp-bot .bot .email-ikona{
    background-image: url('./images/email.png');
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    opacity: 40%;
  }
  #landing .wrapper .wrapp-bot .bot .lokacija-ikona{
    background-image: url('./images/location.png');
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    opacity: 40%;
  }
  #landing .wrapper .wrapp-bot .bot .vrijeme-ikona{
    background-image: url('./images/clock.png');
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    opacity: 40%;
  }
  #landing .wrapper .wrapp-bot .bot .telefon-ikona{
    background-image: url('./images/phone-call.png');
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    opacity: 40%;
  }